In [1]:
import pandas as pd
import numpy as np

In [2]:
list_s = [1,2,-3,4,'Data values']
list_s

[1, 2, -3, 4, 'Data values']

In [3]:
series = pd.Series(list_s)

In [4]:
series

0              1
1              2
2             -3
3              4
4    Data values
dtype: object

In [5]:
type(series)

pandas.core.series.Series

In [6]:
series2 = pd.Series([3,5,7,9])
print(series2)

0    3
1    5
2    7
3    9
dtype: int64

# Empty Series

In [7]:
empty_s = pd.Series([])
print(empty_s)

Series([], dtype: float64)

<ipython-input-7-4d32fcf5dfe7>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_s = pd.Series([])

# changing default index

In [8]:
series3 = pd.Series([3,5,7,9], index=['a','b','c','d'])
print(series3)

a    3
b    5
c    7
d    9
dtype: int64

# changing data type

In [9]:
series3 = pd.Series([3,5,7,9], index=['a','b','c','d'], dtype=float)
print(series3)

a    3.0
b    5.0
c    7.0
d    9.0
dtype: float64

# name parameter

In [10]:
series3 = pd.Series([3,5,7,9], index=['a','b','c','d'], dtype=float , name='data values')
print(series3)

a    3.0
b    5.0
c    7.0
d    9.0
Name: data values, dtype: float64

In [11]:
scaler_s = pd.Series(0.5)
scaler_s

0    0.5
dtype: float64

In [12]:
scaler_s = pd.Series(0.5, index=[1,2,3])
scaler_s

1    0.5
2    0.5
3    0.5
dtype: float64

In [13]:
dict_s = pd.Series({'a':1,'b':2,'c':3})
dict_s

a    1
b    2
c    3
dtype: int64

In [14]:
s4 = pd.Series([1,2,3,4,5])
s4

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [15]:
s4[2]

3

In [16]:
s4[0:3]

0    1
1    2
2    3
dtype: int64

In [17]:
max(s4)

5

In [18]:
min(s4)

1

In [19]:
s4[s4>3]

3    4
4    5
dtype: int64

# Adding a scalar value to series element

In [20]:
s4 + 5

0     6
1     7
2     8
3     9
4    10
dtype: int64

# Adding two series object

In [21]:
s1 = pd.Series([1,2,3,4,5,6,7,8,9])
s2 = pd.Series([10,20,30,40,50,60,70,80,90])

In [22]:
s1 + s2

0    11
1    22
2    33
3    44
4    55
5    66
6    77
7    88
8    99
dtype: int64