- Import libraries

In [2]:
import pandas as pd
import numpy as np

In [3]:
#Object creation
s=pd.Series([1,2,3,4,np.nan,6,7,8])
s

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    6.0
6    7.0
7    8.0
dtype: float64

In [4]:
dates=pd.date_range("20200313",periods=6)
dates

DatetimeIndex(['2020-03-13', '2020-03-14', '2020-03-15', '2020-03-16',
               '2020-03-17', '2020-03-18'],
              dtype='datetime64[ns]', freq='D')

In [5]:
# gereates random data frame
dates=pd.date_range("20200313",periods=6)
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list("ABCD"))
df

                   A         B         C         D
2020-03-13 -0.742567  0.042385 -0.865799  0.108931
2020-03-14  0.549015 -0.076419 -0.682078  0.822073
2020-03-15  1.693527  1.255338 -0.800384  0.051570
2020-03-16 -0.031458 -1.676783  0.754716  2.344794
2020-03-17  1.089555  1.189532  1.267423  0.057469
2020-03-18  1.085353 -0.909081  0.039816  0.111989

In [6]:
df.head(2)

                   A         B         C         D
2020-03-13 -0.742567  0.042385 -0.865799  0.108931
2020-03-14  0.549015 -0.076419 -0.682078  0.822073

In [7]:
df.tail(2)

                   A         B         C         D
2020-03-17  1.089555  1.189532  1.267423  0.057469
2020-03-18  1.085353 -0.909081  0.039816  0.111989

In [8]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [9]:
df.index

DatetimeIndex(['2020-03-13', '2020-03-14', '2020-03-15', '2020-03-16',
               '2020-03-17', '2020-03-18'],
              dtype='datetime64[ns]', freq='D')

In [10]:
#how to convert data frame into numpy array
df.to_numpy()

array([[-0.74256725,  0.04238549, -0.86579912,  0.1089308 ],
       [ 0.54901471, -0.07641926, -0.68207809,  0.82207257],
       [ 1.69352743,  1.25533751, -0.80038442,  0.05157039],
       [-0.03145761, -1.67678314,  0.75471569,  2.34479368],
       [ 1.08955458,  1.18953175,  1.26742343,  0.05746891],
       [ 1.08535259, -0.90908121,  0.03981569,  0.11198886]])

In [11]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.607237 -0.029171 -0.047718  0.582804
std    0.880289  1.151644  0.896586  0.912827
min   -0.742567 -1.676783 -0.865799  0.051570
25%    0.113660 -0.700916 -0.770808  0.070334
50%    0.817184 -0.017017 -0.321131  0.110460
75%    1.088504  0.902745  0.575991  0.644552
max    1.693527  1.255338  1.267423  2.344794

In [12]:
# to transpose data frame -rows to column and column to rows
df.T

   2020-03-13  2020-03-14  2020-03-15  2020-03-16  2020-03-17  2020-03-18
A   -0.742567    0.549015    1.693527   -0.031458    1.089555    1.085353
B    0.042385   -0.076419    1.255338   -1.676783    1.189532   -0.909081
C   -0.865799   -0.682078   -0.800384    0.754716    1.267423    0.039816
D    0.108931    0.822073    0.051570    2.344794    0.057469    0.111989

In [19]:
df.sort_index(axis=0,ascending=False)

                   A         B         C         D
2020-03-18  1.085353 -0.909081  0.039816  0.111989
2020-03-17  1.089555  1.189532  1.267423  0.057469
2020-03-16 -0.031458 -1.676783  0.754716  2.344794
2020-03-15  1.693527  1.255338 -0.800384  0.051570
2020-03-14  0.549015 -0.076419 -0.682078  0.822073
2020-03-13 -0.742567  0.042385 -0.865799  0.108931

In [21]:
df.sort_values(by='B',ascending=False)

                   A         B         C         D
2020-03-15  1.693527  1.255338 -0.800384  0.051570
2020-03-17  1.089555  1.189532  1.267423  0.057469
2020-03-13 -0.742567  0.042385 -0.865799  0.108931
2020-03-14  0.549015 -0.076419 -0.682078  0.822073
2020-03-18  1.085353 -0.909081  0.039816  0.111989
2020-03-16 -0.031458 -1.676783  0.754716  2.344794

In [23]:
df['A']

2020-03-13   -0.742567
2020-03-14    0.549015
2020-03-15    1.693527
2020-03-16   -0.031458
2020-03-17    1.089555
2020-03-18    1.085353
Freq: D, Name: A, dtype: float64

In [25]:
df[0:3]

                   A         B         C         D
2020-03-13 -0.742567  0.042385 -0.865799  0.108931
2020-03-14  0.549015 -0.076419 -0.682078  0.822073
2020-03-15  1.693527  1.255338 -0.800384  0.051570

In [27]:
#loccate specific data
df.loc[dates[2]]

A    1.693527
B    1.255338
C   -0.800384
D    0.051570
Name: 2020-03-15 00:00:00, dtype: float64

In [33]:
#column wise locate data
df.loc[:,["A","B"]]

                   A         B
2020-03-13 -0.742567  0.042385
2020-03-14  0.549015 -0.076419
2020-03-15  1.693527  1.255338
2020-03-16 -0.031458 -1.676783
2020-03-17  1.089555  1.189532
2020-03-18  1.085353 -0.909081

In [34]:
df.loc["20200314":'20200316',['A','B']]

                   A         B
2020-03-14  0.549015 -0.076419
2020-03-15  1.693527  1.255338
2020-03-16 -0.031458 -1.676783

In [38]:
df.at[dates[1],'A']

0.5490147087153379

In [40]:
df.iloc[0]

A   -0.742567
B    0.042385
C   -0.865799
D    0.108931
Name: 2020-03-13 00:00:00, dtype: float64

In [41]:
df.iloc[1:4]

                   A         B         C         D
2020-03-14  0.549015 -0.076419 -0.682078  0.822073
2020-03-15  1.693527  1.255338 -0.800384  0.051570
2020-03-16 -0.031458 -1.676783  0.754716  2.344794

In [43]:
df.iloc[0:4,0:2] #0-4 are rows and 0-2 are columns

                   A         B
2020-03-13 -0.742567  0.042385
2020-03-14  0.549015 -0.076419
2020-03-15  1.693527  1.255338
2020-03-16 -0.031458 -1.676783

In [44]:
#print positive values of A
df[df['A']>0]

                   A         B         C         D
2020-03-14  0.549015 -0.076419 -0.682078  0.822073
2020-03-15  1.693527  1.255338 -0.800384  0.051570
2020-03-17  1.089555  1.189532  1.267423  0.057469
2020-03-18  1.085353 -0.909081  0.039816  0.111989

In [46]:
#How to add column
df2=df.copy()
df2

                   A         B         C         D
2020-03-13 -0.742567  0.042385 -0.865799  0.108931
2020-03-14  0.549015 -0.076419 -0.682078  0.822073
2020-03-15  1.693527  1.255338 -0.800384  0.051570
2020-03-16 -0.031458 -1.676783  0.754716  2.344794
2020-03-17  1.089555  1.189532  1.267423  0.057469
2020-03-18  1.085353 -0.909081  0.039816  0.111989

In [49]:
df2["E"] = ['one','two','three','four','five','six']
df2

                   A         B         C         D      E
2020-03-13 -0.742567  0.042385 -0.865799  0.108931    one
2020-03-14  0.549015 -0.076419 -0.682078  0.822073    two
2020-03-15  1.693527  1.255338 -0.800384  0.051570  three
2020-03-16 -0.031458 -1.676783  0.754716  2.344794   four
2020-03-17  1.089555  1.189532  1.267423  0.057469   five
2020-03-18  1.085353 -0.909081  0.039816  0.111989    six

In [53]:
df2["Mean"] = df.mean(axis=1)
df2

                   A         B         C         D      E      Mean
2020-03-13 -0.742567  0.042385 -0.865799  0.108931    one -0.364263
2020-03-14  0.549015 -0.076419 -0.682078  0.822073    two  0.153147
2020-03-15  1.693527  1.255338 -0.800384  0.051570  three  0.550013
2020-03-16 -0.031458 -1.676783  0.754716  2.344794   four  0.347817
2020-03-17  1.089555  1.189532  1.267423  0.057469   five  0.900995
2020-03-18  1.085353 -0.909081  0.039816  0.111989    six  0.082019

In [56]:
# update df2
df2 = df2.iloc[:,0:2]
df2

                   A         B
2020-03-13 -0.742567  0.042385
2020-03-14  0.549015 -0.076419
2020-03-15  1.693527  1.255338
2020-03-16 -0.031458 -1.676783
2020-03-17  1.089555  1.189532
2020-03-18  1.085353 -0.909081